<h1> Are you ready to game...as A FROG!??!?!</h1>

<%= form_tag("/froggame/start", method: "get", class: "start_game") do %>
  <%= submit_tag("Start Game!") %>
<% end %>

<div class="main_game">


</div>
