<h1> This is the start page </h1>



<div class="pond">
  <div class="pond-row">
    <div class="pond-cell"></div>
    <div class="pond-cell"></div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
  </div>
  <div class="pond-row">
    <div class="pond-cell"> </div>
    <div class="pond-cell"><div class="frog animated bounce"></div>  </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
  </div>
  <div class="pond-row">
    <div class="pond-cell"><div class="jared-fly"></div></div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
  </div>
  <div class="pond-row">
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
  </div>
  <div class="pond-row">
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
    <div class="pond-cell"> </div>
  </div>
</div>
