<h1> This is the start page </h1>



<div class="pond">
  <div class="pond-row">
    <div class="pond-cell animated-pad shake"></div>
    <div class="pond-cell animated-pad shake"></div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
  </div>
  <div class="pond-row">
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"><div class="frog animated bounce"></div>  </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
  </div>
  <div class="pond-row">
    <div class="pond-cell animated-pad shake"><div class="jared-fly"></div></div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
  </div>
  <div class="pond-row">
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
  </div>
  <div class="pond-row">
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
    <div class="pond-cell animated-pad shake"> </div>
  </div>
</div>
